@@ -0,0 +1,67 @@
#hero {
    background-image: url("../../../assets/Images/hero.jpeg");
    width: 100%;
    height: 770px;
    position: relative;
    color: #fff;
    border-top: 10px solid var(--primary-grey);
    border-bottom: 10px solid var(--primary-grey);
}

#hero-background {
    width: 100%;
    height: 750px;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
}

#hero div#text {
    position: absolute;
    z-index: 3;
    top: 30%;
    left: 10%;
    width: 45%;
    /* height: 40%; */
    gap: 25px;
    background-color: var(--primary-grey);
    padding: 20px;

    border-top: 3px solid var(--primary-yellow);
    border-left: 3px solid var(--primary-yellow);
    border-radius: 25px;
    margin: 5px;

    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
}

#hero #text h1 {
    font-size: 50px;
    color: var(--primary-yellow);
}

#hero #text h3 {
    font-size: 28px;
    color: var(--primary-yellow);
    width: 100%;

}

#hero #text h3 a {
    color: var(--primary-orange);

}

#hero #text p {
    color: var(--primary-yellow);

}

#hero #text p a {
    color: var(--primary-blue);

}
