section#profile {
    background-image: url("../../assets/Images/login-register/login-hero.png");
    background-color: var(--primary-grey);
    width: 100%;
    height: 1080px;
    position: relative;
    border-top: 10px solid var(--primary-grey);
    border-bottom: 10px solid var(--primary-grey);

}

section#profile #profile-hero {
    width: 100%;
    height: 1060px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.5;

}
section#profile #profile-text img{
    width: 400px;
    height: 300px;
    margin:0 auto;
}

section#profile #profile-text {
    position: absolute;
    top: 5%;
    right: 30%;
    width: 40%;
    height: 70%;
    padding: 30px 20px;

    border-top: 3px solid var(--primary-orange);
    border-left: 3px solid var(--primary-orange);
    border-radius: 25px;

    background-color: var(--primary-grey);

    display: flex;

    flex-direction: column;
    gap: 30px;
}
section#profile #profile-text p, section#profile #profile-text span{
    font-size: 28px;
    text-align: center;
    color: var(--primary-orange);
    display: inline-block;
}
section#profile #profile-text div{
    text-align: center;
    margin: 10px;
}


section#profile #profile-text h2 {
    font-size: 45px;
    color: var(--primary-orange);
    text-align: center;
    margin-bottom: 18px;
}

section#profile #profile-text button {
    width: 40%;
    font-size: 17px;
    border-radius: 25px;
    border: none;
    margin-top: 20px;
    color: var(--primary-orange);
    cursor: pointer;

}
section#profile #profile-text button:hover {
    background-color: grey;
}
