<section id="profile">
    <div id="profile-hero"></div>

    <div id="profile-text">
        <img src="./assets/Images/login-register/fire-logo-grey.png" alt="">
        <h2>Profile</h2>

        <div>
            <div>
                <p>Username: </p>
                <span class="username"> Ivan_3000</span>
            </div>
            <div>
                <p>Email: </p>
                <span class="email"> ivan_ivanov_3000</span>
            </div>
            <div>
                <p>Number of posts: </p>
                <span class="postsCount"> 7</span>
            </div>
            <button><a  href="/profile/edit">Edit</a></button>
        </div>
    </div>
</section>
