section{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: calc(4% / 3);
    align-items: top;
    padding: 15px 25px;
    /* border-bottom: 10px solid var(--primary-grey); */
}

app-fan-art{
    width: 24%;
    margin-top: calc(4%/3);
    box-sizing: border-box;
   
}