<section id="login">
    <div id="login-hero"></div>

    <div id="login-text">
        <img src="./assets/Images/login-register/fire-logo-grey.png" alt="">
        <div class="wrapper">
            <h2>Login page</h2>
            <form method="post">
                <label for="femail">Email:</label><br>
                <input type="text" id="femail" name="femail" placeholder="ivan_ivanov_3000@abv.bg"><br>
                <label for="password">Password:</label><br>
                <input type="password" id="password" name="password" placeholder="*******"><br>
                <button type="submit">Submit</button>
            </form>
        </div>

    </div>
</section>
