<section id="details">
    <div id="details-hero" *ngIf="fanArt"></div>

    <div id="details-text">
        <img src={{fanArt.image}} alt="A fan art image">
        <div class="wrapper">
            <div>
                <p>Title:</p>
                <span>{{fanArt.title}}</span>
            </div>
            <div>
                <p>Tag:</p>
                <span>{{fanArt.tag}}</span>
            </div>
            <div>
                <p>Public:</p>
                <span *ngIf="show">Yes</span>
                <span *ngIf="!show">No</span>

            </div>
            <div>
                <p>Author:</p>
                <span>{{fanArt.author.username}}</span>
            </div>
            <div>
                <p>Description:</p>
                <span>{{fanArt.description}}</span>
            </div>
            <div class="buttons" *ngIf="isOwner">
                <button lass="edit" [routerLink]="['/details', fanArt._id, 'edit']">Edit</button>
                <button class="delete">Delete</button>
            </div>
            <div class="buttons" *ngIf="!isOwner">
                <button class="like">Like</button>
                <button class="dislike">Dislike</button>
            </div>
        </div>
    </div>


</section>