<header>
    <nav>
        <a href="">
            <img src="../../assets/Images/logo.png" alt="Fanart Img">

        </a>

        <ul>
           <li><a class="aboutLink" href="">Home</a></li>
            <li><a class="aboutLink" href="">About</a></li>
            <li><a class="catalogLink" href="">Catalog</a></li>
            <li><a class="catalogLink" href="">Search</a></li>
           <!--  <li><a class="registerLinks" href="../HTML/login-page.html">Login</a></li>
            <li><a class="registerLinks" href="../HTML/register-page.html">Register</a></li> -->

            
            <li><a class="catalogLink" href="">Create</a></li>
            <li><a class="registerLinks" href="">Profile</a></li>
            <li><a class="registerLinks" href="">My posts</a></li>
            <li><a class="registerLinks" href="">Logout</a></li>
        </ul>
    </nav>
</header>
