<section id="profile-edit">
    <div id="profile-edit-hero"></div>

    <div id="profile-edit-text">
        <img src="../../assets/Images/login-register/fire-logo-grey.png" alt="">
        <h2>Profile</h2>
        
        <form method="post">
            <label for="fusername">Username:</label><br>
            <input type="text" id="fusername" name="fusername" placeholder="Ivan_3000"><br>

            <label for="femail">Email:</label><br>
            <input type="text" id="femail" name="femail" placeholder="ivan_ivanov_3000@abv.bg"><br>

            

            <div class="wrapper">

                <button >Cancel</button>
                <button type="submit">Submit</button>
            </div>

        </form>
    </div>
</section>
