<section id="create">
    <div id="create-hero"></div>

    <div id="create-text">
        <img src="./assets/Images/catalog-toparts-page/water-logo-grey.png" alt="">
        <div class="wrapper">
            <h2>Create fan art page</h2>

            <form method="post">
                <div>

                    <label for="title">Title:</label>
                    <input type="text" id="title" name="title" placeholder="The best drawing everr!">
                </div>
                <div>

                    <label for="image">Image link: </label>
                    <input type="text" id="image" name="image" placeholder="http://google/image">
                </div>
                <div>

                    <label for="public">Public: </label>
                    <div class="wrapper">
                        <span>
                            <input type="radio" id="public" name="public" value="true">
                            <label for="public">Public</label>
                        </span>
                        <span>

                            <input type="radio" id="private" name="public" value='false'>
                            <label for="priate">Private</label>
                        </span>

                    </div>

                </div>
                <div>

                    <label for="tag">Tag:</label>
                    <input type="text"  id="tag" name="tag"/>

                    
                </div>
                <div>

                    <label for="desc">Description: </label>
                    <textarea name="desc" id="desc"
                        placeholder="This is where the description of the fan art must be at. It must be at least 50 characters long.">
                </textarea>
                </div>

                <button type="submit">Submit</button>
            </form>
        </div>

    </div>
</section>
