<footer>
    <nav class="internalLinks">
        <ul>
            <li><a class="aboutLink" href="/">Home</a></li>
            <li><a class="aboutLink" href="/about">About</a></li>
            <li><a class="catalogLink" href="/catalog">Catalog</a></li>
            <li><a class="catalogLink" href="/search">Search</a></li>

           <li><a class="registerLinks" href="/login">Login</a></li>
            <li><a class="registerLinks" href="/register">Register</a></li> 

            <!-- 
            <li><a class="catalogLink" href="/create">Post Arts</a></li>
            <li><a class="registerLinks" href="/profile">Profile</a></li>
            <li><a class="registerLinks" href="/my/posts">My posts</a></li>
            -->
            
        </ul>
    </nav>
    <img src="./assets/Images/footer.png" alt="">
    <nav class="externalLinks">
        <ul>
            <li><a class="aboutLink" href="https://www.facebook.com/">Facebook</a></li>
            <li><a class="catalogLink" href="https://www.instagram.com/">Instagram</a></li>
            <li><a class="registerLinks" href="https://twitter.com/">Twiter</a></li>
        </ul>
    </nav>
</footer>
