<footer>
    <nav class="internalLinks">
        <ul>
            <li><a class="aboutLink" href="../HTML/home-page.html">Home</a></li>
            <li><a class="aboutLink" href="../HTML/about-page.html">About</a></li>
            <li><a class="catalogLink" href="../HTML/catalog-page.html">Catalog</a></li>
            <li><a class="catalogLink" href="../HTML/search-page.html">Search</a></li>
           <!-- <li><a class="registerLinks" href="../HTML/login-page.html">Login</a></li>
            <li><a class="registerLinks" href="../HTML/register-page.html">Register</a></li> -->

            
            <li><a class="catalogLink" href="../HTML/create.html">Post Arts</a></li>
            <li><a class="registerLinks" href="../HTML/profile-page.html">Profile</a></li>
            <li><a class="registerLinks" href="../HTML/my-posts-page.html">My posts</a></li>
            
        </ul>
    </nav>
    <img src="../Images/footer.png" alt="">
    <nav class="externalLinks">
        <ul>
            <li><a class="aboutLink" href="https://www.facebook.com/">Facebook</a></li>
            <li><a class="catalogLink" href="https://www.instagram.com/">Instagram</a></li>
            <li><a class="registerLinks" href="https://twitter.com/">Twiter</a></li>
        </ul>
    </nav>
</footer>
