<section id="description">
    <div id="description-hero"></div>
    <div id="description-text">
        <h2>About page</h2>
        <p>The Electric type is one of the eighteen types. Prior to changes in
            Generation IV, all damaging Electric-type moves were special, but they may now also be physical
            depending on the attack. Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, doloribus
            voluptatem dignissimos iure voluptas iste, pariatur corrupti modi vero accusantium delectus magni
            possimus architecto quae neque in sed suscipit id!
            Repellendus perspiciatis dignissimos officia incidunt, culpa assumenda ad veritatis ratione, ex
            iusto consectetur nobis magnam molestiae tenetur blanditiis vel corporis. Quam ex animi temporibus
            voluptate laborum, vel earum! Ipsa, non!
            Eligendi, totam voluptate neque veniam praesentium rem dolores voluptates distinctio rerum
            temporibus quos ad maxime voluptatem amet sint labore, mollitia facere nulla. Fuga aut, earum vitae
            quibusdam dolore repellat minus.
            Inventore sequi modi quibusdam quas vero consequatur commodi eligendi, pariatur optio velit voluptas
            id officia architecto nesciunt fugit debitis sint exercitationem. Et cumque odio labore, illum
            exercitationem debitis facere cupiditate.
            Asperiores et ut similique eaque quis! Ut eveniet, rem doloremque tenetur suscipit ratione
            molestiae, laborum saepe numquam tempora officiis nam dolores non ducimus, itaque quod sit
            exercitationem corrupti excepturi fuga?
        </p>
    </div>
</section>
