<section id="description">
    <div id="description-hero"></div>
    <div id="description-text">
        <h2>About page</h2>
        <p>This site is themed after the pokemon world. Pokémon(an abbreviation for Pocket Monsters in
            Japan) is a Japanese media franchise managed by The Pokémon Company, a company founded by Nintendo, Game
            Freak, and Creatures. In Pokémon, humans, known as Pokémon Trainers, catch and train Pokémon to battle
            other Pokémon for sport. All media works within the franchise are set in the Pokémon universe. There are
            currently 913 Pokémon species.
        </p>
        <p> The site's intention is to grant people all over the world the access to post their own fan arts. They can
            search fan arts, look at a specific type of fan art and much more.
        </p>
        <p *ngIf="!isLoggedIn">You can create a fan art and like other fan arts if you have an account. So why don't you just <a routerLink="/register">register</a> or <a routerLink="/login">login</a></p>
        <p *ngIf="isLoggedIn">You can create a fan art and like other fan arts. So why don't you <a class="blue" routerLink="/create">create</a> a fan art?</p>

        <div >
            <img class="shakeit" src="../../assets/Images/about-page/pikachu.png" alt="Pikachu image" (mouseenter)="playAudio()">
        </div>
    </div>
</section>
