<section id="hero">
    <div id="hero-background"></div>
    <div id="text">
        <h1>Why don't you post a fan art?</h1>
        <h3>Just <a routerLink="/login">login</a> or <a routerLink="/register">register</a></h3>

        <p>Here at "The greatest Fan arts" we give you the opportunity to post, see and have fun exploring the
            different fan arts we have. Each one is amazing, handmade with lots of love. We hope you have a good
            experice. So why don't you see our <a routerLink="/catalog">catalog</a>?</p>
    </div>
</section>