<section id="create">
    <div id="create-hero"></div>

    <div id="create-text">
        <img src="./assets/Images/catalog-toparts-page/water-logo-grey.png" alt="">
        <div class="wrapper">
            <h2>Create fan art page</h2>

            <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit() " #f="ngForm" novalidate>

                <div class="form-group">
                    <div class="inputFileds">
                        <label for="title">Title: </label>
                        <input type="text" class="form-control" name="title" [(ngModel)]="form.title" required
                            minlength="5" maxlength="40" #title="ngModel" />
                    </div>

                    <div class="alert-danger" *ngIf="title.errors && f.submitted">
                        <div *ngIf="title.errors['required']">
                            Title is required
                        </div>
                        <div *ngIf="title.errors['minlength']">
                            Title must be at least 5 characters
                        </div>
                        <div *ngIf="title.errors['maxlength']">
                            Title must be at most 40 characters
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="inputFileds">
                        <label for="image">Image link:</label>
                        <input type="text" class="form-control" name="image" [(ngModel)]="form.image" required
                            pattern="(http(s?):).+" #image="ngModel" />
                    </div>

                    <div class="alert-danger" *ngIf="image.errors && f.submitted">
                        <div *ngIf="image.errors['required']">
                            Image link is required
                        </div>
                        <div *ngIf="image.errors['pattern']">
                            Image link must be a valid image link
                        </div>
                    </div>
                </div>
                <div class="form-group">

                    <div class="inputFileds">
                        <label for="isPublic">Public: </label>
                    <div class="wrapper">
                        <span>
                            <input type="radio" id="isPublic" class="form-control" [(ngModel)]="form.isPublic" name=" 
                                isPublic" required value="true" #isPublic="ngModel">
                            <label for="isPublic">Public</label>
                        </span>
                        <span>

                            <input type="radio" id="private" [(ngModel)]="form.isPublic" name="
                                isPublic" value="false">
                            <label for="priate">Private</label>
                        </span>

                        
                    </div>
                    </div>
                    
                    <div class="alert-danger" *ngIf="isPublic.errors && f.submitted">
                        <div *ngIf="isPublic.errors['required']">
                            Public property is required.
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <div class="inputFileds">
                        <label for="tag">Tag :</label>
                        <input type="text" class="form-control" name="tag" [(ngModel)]="form.tag" required minlength="5"
                        maxlength="25" #tag="ngModel" />
                       
                    </div>
                                       
                    <div class="alert-danger" *ngIf="tag.errors && f.submitted">
                        <div *ngIf="tag.errors['required']">
                            Tag is required
                        </div>
                        <div *ngIf="tag.errors['minlength']">
                            Tag must be at least 5 characters
                        </div>
                        <div *ngIf="tag.errors['maxlength']">
                            Tag must be at most 25 characters
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="inputFileds">
                        <label for="description">Description: </label>
                    <textarea type="text" class="form-control" name="description" [(ngModel)]="form.description"
                        required minlength="100" maxlength="220" #description="ngModel"
                        placeholder="This is where the description of the fan art must be at. It must be at least 100 characters long.">
                    </textarea>
                    </div>
                    
                    <div class="alert-danger" *ngIf="description.errors && f.submitted">
                        <div *ngIf="description.errors['required']">
                            Description is required
                        </div>
                        <div *ngIf="description.errors['minlength']">
                            Description must be at least 100 characters
                        </div>
                        <div *ngIf="description.errors['maxlength']">
                            Description must be at most 220 characters
                        </div>
                    </div>
                </div>

                <button type="submit">Submit</button>

                <div class="alert alert-danger" *ngIf="f.submitted && isCreateFailed">
                    Create failed<br />{{ errorMessage }}
                </div>
            </form>
            <div class="alert alert-success" *ngIf="isSuccessful">
                Congratulations! You created a fan art!
            </div>
        </div>

    </div>
</section>